<%= link_to queue do  %>
  <div id="<%= dom_id queue %>" class='card'>

    <p class="">
      <strong class="block font-medium mb-1"><%= queue.category %></strong>
      <%= queue.workspace.name %>
    </p>

  </div>
<% end %>
