<% content_for :ctas_primary do %>
  <%= link_to new_app_queue_path, class: "btn-primary flex-none" do %>
    <%= icon('fa-solid','plus',class:'btn-icon') %>
    <%= App::Queue.model_name.human %>
  <% end %>
<% end %>

<% provide :head_title, App::Queue.model_name.human(count:2) %>
<% provide :page_title, App::Queue.model_name.human(count:2) %>

<% content_for :page_content do %>
  <div class="default-grid">
    <%= render @app_queues %>
  </div>

<%end%>
