<%= link_to health_insurance do  %>
  <div id="<%= dom_id health_insurance %>" class="card ">
    <p class="">
      <strong class="block font-medium mb-1"> <%= health_insurance.name %></strong>
    </p>
  </div>
<%end%>
